<!-- header -->
<header class="main wf">
  <%= link_to I18n.t("header.logo"), I18n.t("header.link"), :class=>"logo" %>
	<h2><%= I18n.t("header.title") %></h2>
	<a href="<%= I18n.t("header.signup_link") %>" class="sign_up" target="_blank"><%= I18n.t("header.signup") %></a>
</header>