---
layout: false
---
<div id="modal-browser-update" data-ms-name="modal-browserupdate">
	<h2><%= I18n.t("browser.heading") %></h2>
	<p><%= I18n.t("browser.message") %></p>
	<h3><%= I18n.t("browser.instruction") %></h3>
	<ul>
		<li id="chrome"><a href="http://www.google.com/chrome" target="_blank">Google Chrome</a></li>
		<li id="firefox"><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a></li>
		<li id="safari"><a href="http://support.apple.com/downloads/#safari" target="_blank">Safari</a></li>
		<li id="ie"><a href="http://windows.microsoft.com/en-CA/internet-explorer/download-ie" target="_blank">Internet Explorer</a></li>
	</ul>
	<p><%= I18n.t("browser.ie_message") %></p>
</div>