---
layout: false
---
<div id="modal-browser-update" class="flash" data-ms-name="modal-flashenable">
	<h2><%= I18n.t("flash.heading") %></h2>
	<p><%= I18n.t("flash.message") %></p>
	<h3><%= I18n.t("flash.instruction") %></h3>
	<ul>
		<li id="flash"><a href="https://www.adobe.com/go/getflashplayer" target="_blank">Adobe Flash</a></li>
	</ul>
</div>